@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}


/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

/* standardisation of padding for sections*/
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}


body {
  width: 100%;
}

a {
	text-decoration: none;
}


/* Header Start */
.portrait logo {
}


#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999; 
	position: sticky;
	top: 0;
	left: 0;
}

#navBar {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* list-style none removes bullet points.t puts objects horizontal in a line, with padding */
#navBar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

/* li a - removes underlining and adjusts text looking good*/
#navBar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

/* hover gives a color */
#navBar li a:hover,
#navBar li a.active{
	color: #088178;
}

/* menu selection gives an underscore, you can see in what menu page you are */
#navBar li a.active::after,
#navBar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
} 

/* Home Page */
#hero{
	background-image: url("../images/hero4.png");
	height: 90vh;
	width: 100%; 
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
}

#hero h4{
	padding-bottom: 15px;
	
}

#hero h1{
	color: #088178; 
	
}


#hero button{
	background-image: url("../images/button2.png");
	background-color: transparent;
	color: #088178;
	border: 0;
	padding: 14px 80px 14px 65px;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
}

/* Diagram */

#heroTosProject0{
	background-image: url("../images/tos/heroTosProject0B.png");
	height: 90vh;
 	width: 100%; 
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	
}

#heroTosProject1Split0{
	background-image: url("../images/tos/project1/heroTosProject1Split0.png");
	height: 90vh;
	width: 100%; 
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject1Split1{
	background-image: url("../images/tos/project1/heroTosProject1Split1.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
display: flex;
	flex-direction: column;
	align-items: flex-start;
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject1Split2{
	background-image: url("../images/tos/project1/heroTosProject1Split2.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;:
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject1Split3{
	background-image: url("../images/tos/project1/heroTosProject1Split3.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject2Split0{
	background-image: url("../images/tos/project2/heroTosProject2Split0.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	
}

#heroTosProject2Split1{
	background-image: url("../images/tos/project2/heroTosProject2Split1.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject3Split0{
	background-image: url("../images/tos/project3/heroTosProject3Split0.png");
	height: 90vh;
	width: 100%; 
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	
}

#heroTosProject3Split1{
	background-image: url("../images/tos/project3/heroTosProject3Split1.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#heroTosProject3Split2{
	background-image: url("../images/tos/project3/heroTosProject3Split2.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;:
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#heroTosProject3Split3{
	background-image: url("../images/tos/project3/heroTosProject3Split3.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
display: flex;
	flex-direction: column;
	align-items: flex-start;
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}



#heroTosProject3Split4A{
	background-image: url("../images/tos/project3/heroTosProject3Split4A.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
display: flex;
	flex-direction: column;
	align-items: flex-start;
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroTosProject3Split4B{
	background-image: url("../images/tos/project3/heroTosProject3Split4B.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	padding-top: 15px;
	padding-bottom: 15px;
	
}

#navBox .fe-box {
	/* width from 180 px --> small picture to click on*/
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #088178;
	border-radius: 4px; 
	margin: 15px 0;
}


#navBox .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
} 


#navBox .fe-box img{
	width: 100%;
	margin-bottom: 10px; 
}

#navBox .fe-box h6{
	/* teveel ruimte met kleur links en rechts, daarom inline block.*/
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
	}
	
	/* verschillende background colours voor de tekst*/
	#navBox .fe-box:nth-child(2) h6{
	background-color: #cce7d0;
	}
	
	#navBox .fe-box:nth-child(3) h6{
	background-color: #cdd4f8;
	}
	
	#navBox .fe-box:nth-child(4) h6{
	background-color: #d1e8f2;
	}
	
	#navBox .fe-box:nth-child(5) h6{
	background-color: #e28743;
	}

#splitBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	padding-top: 15px;
	padding-bottom: 15px;

}

#splitBox .fe-box {
	/* width from 180 px --> small picture to click on*/
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #088178;
	border-radius: 4px;
	margin: 15px 0;
}


#splitBox .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}


#splitBox .fe-box img{
	width: 100%;
	margin-bottom: 10px;
}

#splitBox .fe-box h6{
	/* teveel ruimte met kleur links en rechts, daarom inline block.*/
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
}

/* verschillende background colours voor de tekst*/
#splitBox .fe-box:nth-child(2) h6{
	background-color: #cce7d0;
}

#splitBox .fe-box:nth-child(3) h6{
	background-color: #cdd4f8;
}

#splitBox .fe-box:nth-child(4) h6{
	background-color: #d1e8f2;
}

#splitBox .fe-box:nth-child(5) h6{
	background-color: #e28743;
}


#heroDataBase{
	background-image: url("../images/tos/heroDataBase.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 50% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#heroDataBase1{
	background-image: url("../images/tos/heroDataBase1.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#heroDataBase2{
	background-image: url("../images/tos/heroDataBase2.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;+
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#heroDataBase3{
	background-image: url("../images/tos/heroDataBase3.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}

#heroDataBase4{
	background-image: url("../images/tos/heroDataBase4.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 80px;
	/* tekst on the right adjustments*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* testing box shadow*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}


/* Code */

/* GUI*/

/* About */

/* Contact */

